body {
	/*height: 10000px;*/
}

.bordure {
	border: 3px solid red;
}

.bordure1 {
	border: 3px solid blue;
}

.bordure2 {
	border: 3px solid green;
}

/* MISE EN FORME DU LOGO DANS LA NAV BARRE 1*/

#logo {
	height: 50px;
	width: 75px;
	background-image: url(../images/VodIn.PNG);
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 7px;
	margin-left: 10px;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex2 {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: inherit;
	margin-right: inherit;
	left: inherit;
	right: inherit;
}

#nav-mobile>li {
	margin-right: 10px;
} 

.btn {
	text-transform: inherit;
}

.contain {
	width: 35%;
	margin-left: 10%;
}

#searchBar {
	border: 2px solid #1b5e20;
	height: 50%;
	line-height: inherit;
	border-radius: 5px;
}

#search {
	padding: inherit;
	width: 100%;
}

#searchChamp {
	margin-right: 5px;
	margin-left: 5px;
}

#searchNav {
	position: fixed;
	height: 64px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* MISE EN FORME DU BODY */    

#section {
	
	height: auto;
	width: 100%;
	margin-top: 50px;
}

#sideBar {
	height: auto;
}

#video {
	height: 750px;
	overflow: auto;
	margin-left: inherit;
	margin-right: inherit;
	left: inherit;
	right: inherit;
}

img {
	height: 100%;
	width: 100%;
}

.flexDroit {
	display: flex;
	justify-content: flex-end;
}

.flexGauche {
	display: flex;
	justify-content: flex-start;
}

.group {
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
}

.col.l3 {
	margin-left: inherit !important;
}

.row {
	margin-left: inherit !important;
}