
@font-face {
    font-family: 'kalambold';
    src: url('../fonts/kalam-bold-webfont.woff2') format('woff2'),
        url('../fonts/kalam-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    /*height: 10000px;*/
}
h4{
    font-size: 20px;
}

.bordure {
    border: 3px solid red;
}

.bordure1 {
    border: 3px solid blue;
}

.bordure2 {
    border: 3px solid green;
}

/* MISE EN FORME DU LOGO DANS LA NAV BARRE */

/*:::::::::::::::::::::::*/
/*::::tri plateformes::::*/
/*:::::::::::::::::::::::*/

#tri-chaine{
    width: 100%;
    height: 60px;
    /* color: white;*/
    /*padding-top: 2px;*/
    /*padding-left: 25px;*/
    /*-moz-box-shadow: -1px 7px 30px #000000;
    -webkit-box-shadow: -1px 7px 30px #000000;
    box-shadow: -1px 7px 30px #000000;*/


}
#titre-tri{
    position: relative;
}
#titre-tri>span{
    color: #000;
    font-size: 25px;
    position: absolute;
    top: 5px;
}

.btn-tri{

    margin-left: 5px;
    width: 40px;
    height: 35px;
    -moz-box-shadow: -1px 7px 30px #000000;
    -webkit-box-shadow: -1px 7px 30px #000000;
    box-shadow: -1px 7px 30px #000000;
}

#tri-az{
    font-size: 5px;
    /*margin-left:-70px;*/
    padding-top: 3px;
    color: #000;
    position: relative;
    -moz-box-shadow: -1px 7px 30px #000000;
    -webkit-box-shadow: -1px 7px 30px #000000;
    box-shadow: -1px 7px 30px #000000;

}

#az-sort-label:after,
#az-sort-label:before {
    content: none;
}

#date-sort-label:after,
#date-sort-label:before {
    content: none;
}

/*::::::::::*/
/*Début anim*/
/*::::::::::*/

#A, #Z, #arrow1 {
    position: absolute;
    top: 0; bottom: 0;
    color: #000;
}
#A {
    /*
    -webkit-animation: cssAnimation 1.3196s 16 ease;
    -moz-animation: cssAnimation 1.3196s 16 ease;
    -o-animation: cssAnimation 1.3196s 16 ease;*/

    transform: rotate(0deg) translateY(-15px) rotate(0deg);
    transition: all 1s ease;
}

input:checked + label #A {
    transform: rotate(180deg) translateY(-15px) rotate(-180deg);
}

#Z{
    transform: rotate(0deg) translateY(15px) rotate(0deg);
    transition: all 1s ease;

}

input:checked + label #Z {
    transform: rotate(180deg) translateY(15px) rotate(-180deg);
}


/*#arrow1{
animation: animateArrow1 5s ease infinite;

}*/

/*
@-webkit-keyframes cssAnimation {
from { -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
to { -webkit-transform: rotate(176deg) scale(0.791) skew(1deg) translate(0px); }
}
@-moz-keyframes cssAnimation {
from { -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
to { -moz-transform: rotate(176deg) scale(0.791) skew(1deg) translate(0px); }
}
@-o-keyframes cssAnimation {
from { -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
to { -o-transform: rotate(176deg) scale(0.791) skew(1deg) translate(0px); }
}
*/
@keyframes animateA {
    from { transform: rotate(0deg) translateY(-10px) rotate(0deg) }
    to { transform: rotate(-180deg) translateY(-10px) rotate(-180deg); }
}


@keyframes animateZ {
    from { transform: rotate(-180deg) translateY(10px) rotate(180deg) }
    to { transform: rotate(0deg) translateY(10px) rotate(0deg); }
}

/*@keyframes animateArrow1 {
from { transform: rotate(0deg) }
to { transform: rotate(-180deg) }
}*/

/*::::::::::::::*/
/*:::fin anim*:::/
/*::::::::::::::*/


#tri-az{
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/*
#tri-group{
height: 40px;
width: 40px;
background-color: #fff;
-moz-box-shadow: -1px 7px 30px #000000;
-webkit-box-shadow: -1px 7px 30px #000000;
box-shadow: -1px 7px 30px #000000;
}
*/

#tri-group{
    width: 30%;
    height: 90%;
    padding-left: 23px;
    /* margin-left:-70px;*/
    /*padding-top: 13px;
    color: #000;
    position: relative;*/
}

#tri-date{
    width: 30%;
    height: 90%;
    /*margin-left:-70px;*/
    padding-top: 12px;
    color: #000;
    position: relative;
    -moz-box-shadow: -1px 7px 30px #000000;
    -webkit-box-shadow: -1px 7px 30px #000000;
    box-shadow: -1px 7px 30px #000000;
    /* margin-left:-70px;*/
    /*padding-top: 13px;*/
    color: #000;
}

tri-group span{
    font-size: 50px;
}

.yt {
    color: red;
}
.dm {
    color: blue;
}
.tw {
    color: purple; 
}

.bordureyt{
    border: 2px solid #b71c1c;
}
.borduredm{
    border: 2px solid #01579b;
}
.borduretw{
    border: 2px solid #5e35b1;
}

#group-label:after,
#group-label:before {
    content: none;
}
#group-label {
    position: relative;
    top: 8px;
    left: -23px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome and Opera */

}


#group-label span {
    font-family: 'kalambold';
    position: absolute;
    font-size: 25px;
    transform: scaleX(2);
    transition: top .5s ease;
    line-height: 10px;
}

input + label span:nth-child(1){ top: 0}
input + label span:nth-child(2){ top: 5px }
input + label span:nth-child(3){ top: 10px }
input + label span:nth-child(4){ top: 15px }
input + label span:nth-child(5){ top: 20px }

input:checked + label span:nth-child(1){ }
input:checked + label span:nth-child(2){ top: 10px; }
input:checked + label span:nth-child(3){ top: 20px; }
input:checked + label span:nth-child(4){ top: 5px; }
input:checked + label span:nth-child(5){ top: 15px; }


.brand-logo {
    z-index: 1000;
}

#logo {
    height: 50px;
    width: 75px;
    background-image: url(../images/VodIn.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 7px;
    margin-left: 10px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-mobile>li {
    margin-right: 10px;
} 

.btn {
    text-transform: inherit;
}

.contain {
    width: 35%;
    margin-left: 10%;
}

#searchBar {
    border: 2px solid #1b5e20;
    height: 50%;
    line-height: inherit;
    border-radius: 5px;
}

#search {
    padding: inherit;
    width: 100%;
}

#searchChamp {
    margin-right: 5px;
    margin-left: 5px;
}

#searchNav {
    position: fixed;
    height: 64px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* MISE EN FORME DE LA MODAL PREFERENCE */

#modal1 {
    max-height: inherit;
    width: 25%;
    border-radius: 20px;
}

#gauche {
    height: 40px;
    width: 40px;
    background-image: url(../images/gauche.PNG);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    border: 3px solid #1b5e20;
    border-radius: 3px;
} 

#droite {
    height: 40px;
    width: 40px;
    background-image: url(../images/droite.PNG);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    border-radius: 3px;
} 

#defaut {
    display: none;
}

#droit {
    display: none;
}

/* MISE EN FORME DU BODY */    

#section {
    margin-left: 25px;
    height: auto;
    width: 98%;
    margin-top: 50px;
}

/* MISE EN FORME SIDEBAR */

#sideBar {
    height: 750px;
    width: 20%;
    overflow: auto;
    padding: 20px;
    position: relative;
    font-family: 'Baloo', cursive;

}

#sideBar .platform img{
    width: 30%;
    height: 60px;
}
#sideBar .platform span{
    font-size: 25px;
    margin: auto;


}

.abonnement{
    position: relative;


}

/*#abonne span{
font-size: 15px;
position: absolute;
margin: auto;
line-height: normal;
color: #1b5e20;
vertical-align: middle;
}*/

/*#abonne img{
width: 50px;
height: 60px;
vertical-align: middle;
}*/
#sideBar .logo-chaine{
    width: 60px;
    height: 60px;
    display: inline-block;

}
#sideBar .logo-chaine img{
    height: 100%;
    width:100%;
    position: static;
    vertical-align: middle;
}

#sideBar .titre-chaine span{
    position: static;
    vertical-align: middle;
    font-size: 25px;

}

.micro-logo{
    height: 25px;
    width: 25px;
    position: absolute;
    top: 0;
    left: 0;


}
.micro-logo img{
    height: 100%;
    width: 100%;

}

.borderyt{
    border: 2px solid red;
}

.bordertw{
    border: 2px solid purple;
}

.borderdm{
    border: 2px solid blue;
}

.platform {
    overflow: hidden;
}

#platYou{
    /*height: auto;*/
    background-color: #b71c1c;
    color: white;
    -moz-box-shadow: -1px 7px 30px #000000;
    -webkit-box-shadow: -1px 7px 30px #000000;
    box-shadow: -1px 7px 30px #000000;
}


#platTw{
    /*height: auto;*/
    background-color: #5e35b1;
    color: white;
    -moz-box-shadow: -1px 7px 30px #000000;
    -webkit-box-shadow: -1px 7px 30px #000000;
    box-shadow: -1px 7px 30px #000000;
}
#platDM{
    /*height: auto;*/
    background-color: #01579b;
    color: white;
    -moz-box-shadow: -1px 7px 30px #000000;
    -webkit-box-shadow: -1px 7px 30px #000000;
    box-shadow: -1px 7px 30px #000000;
}

.Chaine{
    width: 100%;
    color: #000;
    overflow: hidden;

}

.switch-on {
    height: 60px;
    transition: all 1s ease;
    margin: 10px 0;

}

.rounded{
    border-radius: 7px;
}

.switch-off {
    height: 0;
    transition: all 1s ease;
}

.switch-off .col {
    float: none;
}

/* MISE EN FORME DIV VIDEO */

#section2 {
    width: 80%;
    margin-left: inherit;
    margin-right: inherit;
    left: inherit;
    right: inherit;
    z-index: 1;
    position: relative;
}

#video {
    width: 100%;
    height: 750px;
    overflow-y: auto;
    overflow-x: hidden;
}
#section2 > .overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    /*	background-color: red;*/
    pointer-events: none;
}

#section2 > .overlay:before {
    background: linear-gradient(to top, transparent, #fff);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 50;
    pointer-events: none;
}

#section2 > .overlay:after {
    bottom: 0px;
    background: linear-gradient(to bottom, transparent, #fff);
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 50;
    pointer-events: none;
}

.player * {
    pointer-events: none !important;
}

#video .player {
    padding: 0;
}

.btn-gauche {
    width:50px;
    height:50px;
    z-index:3000;
    position:absolute;
    top:-25px;
    left:-25px;
}

.btn-droit {
    width:50px;
    height:50px;
    z-index:3000;
    position:absolute;
    top:-25px;
    right:-25px;
}

.caption {
    z-index: 2;
    margin: inherit;
    margin-top: -30px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    color: white;
}

img {
    height: 100%;
    width: 100%;
    z-index: 1;
}

.flexDroit {
    display: flex;
    flex-direction: row-reverse;
}

.flexGauche {
    display: flex;
    justify-content: flex-start;
}

.group {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.col.l3 {
    margin-left: inherit !important;
}

.row {
    margin-left: inherit !important;
}

footer {
    height: auto;
    margin: auto;
}

footer a:hover{


}

/* MISE EN FORME DE LA CLASS MODAL2 */

#modal2 {
    max-height: inherit;
    width: 15%;
    border-radius: 20px;
}

.modal2 {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
}

@media only screen and (max-width: 992px) {
    .modal2 {
        width: 80%;
    }
}

.modal2 h1, .modal2 h2, .modal2 h3, .modal2 h4 {
    margin-top: 0;
}

.modal2 .modal-content {
    padding: 24px;
}

.modal2 .modal2-close {
    cursor: pointer;
}

.modal2 .modal2-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%;
}

.modal2 .modal2-footer .btn, .modal2 .modal2-footer .btn-large, .modal2 .modal2-footer .btn-flat {
    float: right;
    margin: 6px 0;
}

.modal2-overlay {
    position: fixed;
    z-index: 999;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
    will-change: opacity;
}

.modal2.modal2-fixed-footer {
    padding: 0;
    height: 70%;
}

.modal2.modal2-fixed-footer .modal2-content {
    position: absolute;
    height: calc(100% - 56px);
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
}

.modal2.modal2-fixed-footer .modal2-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
}

.modal2.bottom-sheet {
    top: auto;
    bottom: -100%;
    margin: 0;
    width: 100%;
    max-height: 45%;
    border-radius: 0;
    will-change: bottom, opacity;
}

#inscription {
    text-transform: inherit;
}

#inscrit {
    margin-bottom: inherit;
}

/* MISE EN FORME DE LA CLASS MODAL3 */

#modal3 {
    display: none;
}

.modal3 {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
}

@media only screen and (max-width: 992px) {
    .modal3 {
        width: 80%;
    }
}

.modal3 h1, .modal3 h2, .modal3 h3, .modal3 h4 {
    margin-top: 0;
}

.modal3 .modal3-content {
    padding: 24px;
    transform: scaleX(0);
}

.modal3 .modal3-close {
    cursor: pointer;
}

.modal3 .modal3-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%;
}

.modal3 .modal3-footer .btn, .modal3 .modal3-footer .btn-large, .modal3 .modal3-footer .btn-flat {
    float: right;
    margin: 6px 0;
}

.modal3-overlay {
    display: none;
    position: fixed;
    z-index: 999;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
    will-change: opacity;
}

.modal3.modal3-fixed-footer {
    padding: 0;
    height: 70%;
}

.modal3.modal3-fixed-footer .modal3-content {
    position: absolute;
    height: calc(100% - 56px);
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
}

.modal3.modal3-fixed-footer .modal3-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
}

.modal3.bottom-sheet {
    top: auto;
    bottom: -100%;
    margin: 0;
    width: 100%;
    max-height: 45%;
    border-radius: 0;
    will-change: bottom, opacity;
}

#inscription {
    text-transform: inherit;
}

#inscrit {
    margin-bottom: inherit;
}


@media only screen and (max-width: 1440px)
{
    #video {
        height: 500px;
    }
    
    #sideBar {
        height: 500px;
    }
}
